<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franklyn.alc.cryptocash" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".host.activity.HostActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.franklyn.alc.cryptocash.db_lite"
            android:name=".db_lite.CryptoProvider"
            android:exported="false"
            android:readPermission=".db_lite.CryptoProvider.READ"
            android:writePermission=".db_lite.CryptoProvider.WRITE"
            android:syncable="true"/>

        <!-- Connection receiver -->
        <receiver
            android:name="com.franklyn.alc.cryptocash.connection.ConnectionReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>